/* ================================
   SecureHub Global Styles
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #172033;
}

/* =================================
   SecureHub Logo
================================= */

.securehub-logo {
  width: 250px;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


/* =================================
   Navbar
================================= */

.navbar {
  min-height: 82px;
  padding: 12px 0;
  border-bottom: 1px solid #edf1f5;
  background: #ffffff !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  width: 46px;
  height: 46px;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    #062b55,
    #087cc1,
    #12c7d9
  );

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-size: 15px;
  font-weight: 700;

  box-shadow: 0 6px 18px rgba(8, 124, 193, 0.18);
}

.brand-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.brand-name {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -0.5px;
  color: #062b55;
}

.brand-name span {
  color: #08a9c7;
}

.brand-text small {
  margin-top: 5px;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #64748b;
}

.navbar .nav-link {
  color: #172033;
  font-size: 15px;
  font-weight: 500;
  margin: 0 7px;
  padding: 10px 8px !important;
  transition: all 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #087cc1;
}

.contact-btn {
  border: none;
  border-radius: 8px;
  padding: 11px 22px;
  background: linear-gradient(
    135deg,
    #062b55,
    #087cc1
  );
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(8, 124, 193, 0.25);
}

/* Mobile */

@media (max-width: 991px) {

  .navbar-collapse {
    padding: 20px 0 10px;
  }

  .navbar .nav-link {
    margin: 3px 0;
  }

  .contact-btn {
    margin-top: 10px;
    display: inline-block;
  }

}

